@charset "utf-8";
#header {
	font-size: 16px;
	height: 32px;
	width: 100%;
	background-color: rgba(0,0,0,1);
	top: 0;
	ruby-align: center;
	text-align: center
}
#header ul {
	list-style-type: none;
	font-family: sans-serif;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}
#header ul li {
	float: left;
}
#header ul li a {
	color: rgba(255,255,255,1);
	text-decoration: none;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	border: rgba(255,0,0,1) 1px solid
}
#header ul li a:hover {
	background-color: rgba(102,102,102,1);
}
#header ul ul {
	display: none;
	background-color: rgba(0,0,0,1);
}
#header ul ul li {
	float: none;
}
#header ul li:hover ul {
	display: block;
}
.nonfix {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
